body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.new-game-btn {
    width: 100px;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 14px;
}
.new-game-btn:hover {
    background-color: darkgray;
    cursor: pointer;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button, .button:hover {
    padding: 20px;
    width: 120px;
    height: 120px;
    flex-basis: 33%;
    background-color: white;
    font-size: 55px;
    cursor: pointer;
}
.boardForm {
    display: none;
}
.scoreboard {
    text-align: left;
    display: none;
    justify-content: space-around;
    width: 400px;
    height: 120px;
    border-style: solid;
    font-size: 20px;
}
.player1-info p, .player2-info p{
    font-size: 100px;
    width: 100px;
}