body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.new-game-btn {
    width: 100px;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button {
    padding: 20px;
    width: 120px;
    height: 120px;
    flex-basis: 33%;
    background-color: white;
    font-size: 55px;
}
.board {
    display: none;
}