body {
    font-family: 'Lora', serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../img/fuji.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}
.game-mode {
    font-size: 20px;
}
button:hover {
    cursor: pointer;
}
.new-game-btn {
    margin-bottom: 0px;
    font-size: 14px;
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
}
.computer-btn {
    margin-bottom: 0px;
    font-size: 14px;
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
}
.sound-button {
    margin: 10px;
    border-radius: 10px;
    border-color: whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    font-size: 12px;
}
.new-game-btn:hover, .reset-score:hover, 
.boardform .player1-info button:hover,
.boardform .player2-info button:hover,
.sound-button:hover, .computer-btn:hover {
    background-color: darkgrey;
}
.button {
    width: 120px;
    height: 120px;
    flex-basis: 33%;
    background-color: whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    font-size: 90px;
    padding: 0;
}
.reset-score {
    display: none;
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
}
.boardform .player1-info button,.boardform .player2-info button {
    border-radius: 10px;
    background-color: transparent;
    color: whitesmoke;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.boardForm {
    display: none;
    justify-content: space-around;
    width: 100%;
}
.scoreboard {
    text-align: left;
    display: none;
    justify-content: space-around;
    width: 400px;
    height: 120px;
    font-size: 20px;
}
.player-1 p, .player-2 p{
    margin-top: 0px;
}
.player1-info, .player2-info {
    margin-top: 0;
}

.player1-info .player1-icon, .player2-info .player2-icon {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.player1-info .player1-name, .player2-info .player2-name {
    font-size: 25px;
    margin-bottom: 5px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-inputs {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    border: solid;
    font-size: 22px;
}
#player1-choice, #player2-choice {
    margin: 10px;
}
.board {
    background-color: transparent;
}
@media only screen and (max-width: 1025px) {
    body {
        background-image:linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url('../img/fuji-mobile.png');
    }
}
@media only screen and (max-width: 600px) {
    .player1-info .player1-icon, .player2-info .player2-icon {
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .player1-info .player1-name, .player2-info .player2-name {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .button {
        padding: 0;
        margin: 0;
        font-size: 30px;
        height: 45px;
        width: 45px;
    }
    .boardform .player1-info button,.boardform .player2-info button {
        font-size: 10px;
    }
    .scoreboard {
        width: 100%;
        font-size: 14px;
    }
    .turnDisplay {
        font-size: 14px;
    }
    .new-game-btn {
        font-size: 12px;
    }
    body {
        background-image:linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url('../img/fuji-mobile.png');
    }
}